.output2{
    width: 100%;
    border: dashed 3px #1761A2;
    background: linear-gradient(#1761A2, #1761A2) no-repeat;
    color:white;
    /* margin-bottom: 5px; */
    margin-top: 170px;
    font-size: 1.5rem;
}

 
.output2 hr{
    border: 2px solid white;
    color:white;
} 

.vertical {
    border-left: 4px solid white;
    height: 50px;
    position:relative;
    left: 50%;
}


outputPart2 {
    background-color: brown;
    height: 100px;
    width: 100px;
    float: right;
}